<section class="opening-app" style="background-image: url('../../shared/assets/images/opening-bg.jpg');">

	<div class="opening-wrapper">
		<div class="opening-content" [class.activeAnimate]="classAnimate">
			<h2>SPACE</h2>
			<div class="content-text_opening">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
					Quisque molestie elit at lacus...
				</p>
			</div>
			<a href="#">click</a>
		</div>
	</div>

	<div class="trending-today">
		<div class="content">
			<div class="flex-grid_row">
				
				<div class="col-grid title-row">
					<h2>Trending <b>Today</b></h2>
				</div>
				<div class="col-grid">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit tempor incididunt.
					</p>
				</div>
				<div class="col-grid">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit tempor incididunt.
					</p>
				</div>
				<div class="col-grid">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit tempor incididunt.
					</p>
				</div>

			</div>
		</div>
	</div>

</section>
