

// Project Colors

$color-white: 	 #fff;
$color-blue: 	 #4a90e2;
$color-graphite: #4f6072;
$color-graphite-light: #9fa7b9;

// Defaults
$primary-color:   $color-blue;
$secondary-color: $color-graphite;
